{% extends 'master.html' %}
{% block titulo %}Bienvenido al Sistema de Recomendacion de Movielens!!!{% endblock %}

{% block contenido %} 
<p>

    Se desea construir una página web, que permita recomendar a usuarios libros y otras consultas.
    (1 punto) CONSTRUIR UN MODELO DE DATOS CORRECTO en Django que almacene la
    información siguiente:<br/>
    a) Libro: Bookid, Título, Autor, Género e Idioma<br/>
    b) Puntuación: IdUsario, Bookid, Puntuación (0-5)<br/>
    Los datos se encuentran en dos ficheros del GoodReads Dataset que acompaña a este enunciado.
    Se proporcionan en dos formatos (csv y txt delimitado por tabulaciones) para que seleccionéis el
    que os resulte más cómodo.<br/><br/>
    Se pide (1 punto) CONSTRUIR UNA WEB CON UN MENÚ PRINCIPAL que permita las
    siguientes opciones:<br/>
    a) (2 puntos) CARGAR LA BASE DE DATOS. Muestre un formulario de confirmación. Si
    se acepta, borrar la base de datos y volverla a crear con los datos del dataset. Después
    MOSTRAR INFORMACIÓN DE LOS REGISTROS ALMACENADOS EN CADA
    TABLA que hayáis definido en el modelo.<br/>
    a) (1.5 puntos) CARGAR RECSYS. Que cargue TODOS LOS DATOS NECESARIOS
    para el Sistema de Recomendación y otros apartados.<br/>
    b) (1.5 puntos) LIBROS POR IDIOMA. Muestre un formulario con un ChoiceField con la
    lista de idiomas que hay en la BD. Cuando se seleccione un idioma muestra el total de
    libros de ese idioma y los datos de cada uno (Título, Autor y Género).<br/>
    c) (1.5 puntos) USUARIOS PARECIDOS. Muestre un formulario para introducir un
    usuario (IdUsuario), presente los dos usuarios que más se parecen (Idusuario y
    Coeficiente de Similaridad), usando como medida la distancia euclídea.<br/>
    d) (1.5 puntos) RECOMENDAR LIBROS. Muestre un formulario para introducir un
    usuario (IdUsuario), le recomiende los libros que no haya puntuado (Título y similaridad)
    con un coeficiente de similaridad superior al 0.6, usando un sistema de recomendación
    Basado en Contenido.<br/><br/>
    Para el sistema de recomendación basado en contenido primero es necesario definir las
    preferencias del usuario y las características de los libros:<br/>
     Para establecer las características de los libros podemos tomar sus tres atributos (autor,
    género e idioma).<br/>
     Para determinar las preferencias de un usuario tomar el (autor, género, idioma) más
    frecuentes de los libros a los que les haya dado una puntuación mayor igual a 4.<br/>
     Comparar el perfil del usuario con las características de los libros usando el coeficiente
    de Dice. 
<br/>

{% endblock %}